# Compiled class files
*.class
*.jar

# Build folders
bin/
out/
target/

# IDE files (Eclipse, IntelliJ, VSCode)
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# System files
.DS_Store
Thumbs.db